<h2>Cheque Details</h2>
<div *ngIf="cheque">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-lg-1 control-label">Name:</label>
                    <div class="col-lg-11">
                        <input type="text" class="form-control" id="inputName" value="{{cheque.name}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDate" class="col-lg-1 control-label">Date:</label>
                    <div class="col-lg-11">
                        <input type="text" class="form-control" id="inputDate" value="{{cheque.date | date: 'dd/MM/yyyy'}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAmount" class="col-lg-1 control-label">Amount:</label>
                    <div class="col-lg-11">
                        <input type="text" class="form-control" id="inputAmount" value="{{cheque.amount | currency:'USD':true:'1.2-2'}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAmount" class="col-lg-1 control-label">Pay:</label>
                    <div class="col-lg-11">
                        <label class="control-label">{{chequeService.getChequeAmountText(cheque.amount)}}</label>
                    </div>
                </div>
            </fieldset>
        </form>
        <!--<input [(ngModel)]="cheque.name" placeholder="name" />-->
    </div>
</div>