<h2>Loans</h2>
<table class="table table-striped table-hover loans">
  <thead>
    <tr>
      <th>#</th>
      <th>Account ID</th>
      <th>App ID</th>
      <th>Account NO</th>
      <th>Loan Amount</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of loans; let i = index" (click)="onSelect(item)">
      <td>{{i+1}}</td>
      <td>{{item.loanaccountid}}</td>
      <td>{{item.app_id}}</td>
      <td>{{item.account_no}}</td>
      <td>{{item.LoanAmount}}</td>
      <td>{{item.status}}</td>
    </tr>
  </tbody>
</table>